<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warframe Build App - Builds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>Aqui você verá e criará as builds.</p>

    <h1>Página de Builds</h1>

    <form action="/salvar_build" method="post">
        <!-- Barra de pesquisa para Warframe -->
         <label for="warframe-search">Pesquisar warframe-search</label>
         <input type="text" name="warframe-search" id="warframe-search">

        <!-- Barra de pesquisa para Armas primárias -->
        <label for="primary-search">Pesquisar Armas primárias</label>
        <input type="text" name="primary-search" id="primary-search">

        <!-- Barra de pesquisa para Armas secundárias -->
         <label for="secondary-search">Pesquisar Armas secundárias</label>
         <input type="text" name="secondary-search" id="secondary-search">

        <!-- Barra de pesquisa para Armas corpo a corpo -->
         <label for="melee-search">Pesquisar armas melee</label>
         <input type="text" name="melee-search id="melee-search> 

        <!-- Barra de pesquisa para companheiros --> 
        <label for="companion-search">Pesquisar companheiros</label>
        <input type="text" name="companion-search" id="companion-search"> 

        <button type"submit">Salvar build</button>
    </form>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
</body>
</html>